/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(34, 193, 195); */
  background: rgb(86, 231, 154);
  background: radial-gradient(circle, rgba(86, 231, 154, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  flex-basis: 34%;
}

nav ul li a {
  display: block;
  font-size: 8px;
  background-color: #444;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-family: 'Saira';
}

nav ul li:hover a {
  color: orangered;
}

@media (max-width: 375px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    padding: 10px;
    font-size: 14px;
  }
}

@media(min-width: 410px) {
  nav ul li a {
    padding: 10px;
    font-size: 18px;
  }
}

@media(min-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    padding: 6px;
    font-size: 15px;
  }
}

@media(min-width: 768px) {
  nav ul {
    flex-direction: row;
  }

  nav ul li a {
    padding: 20px;
    font-size: 24px;
  }
}

@media(min-width: 992px) {
  nav ul {
    flex-direction: row;
  }
}

@media(min-width: 1200px) {
  nav ul {
    flex-direction: row;
  }

  /* header {
  position: relative;
  background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

header>* {
  position: absolute;
  text-shadow: 5px 5px 10px black;
}

header div.welcome {
  top: 10%;
  left: 5%;
  right: 5%;
  font-family: 'Saira Condensed',
    sans-serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /* text-shadow: 0 0 3px black; */
}

/* --HEADER-- */
header {
  position: relative;
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

header>* {
  position: absolute;
}

header div.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header div.wel {
  position: absolute;
  top: 5vh;
  left: 5vh;
  right: 5vh;
  font-family: 'Saira Condensed',
    sans-serif;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 20px black;
}

header h1 {
  margin-top: 20px;
  font-size: 25px;
}

header h2 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: normal;
}

@media(max-width: 320px) {
  header {
    height: 60vh;
  }

  header h2 {
    margin-top: 20px;

  }
}

@media(min-width: 410px) {
  header {
    height: 42vh;
  }
}

@media(min-width: 600px) {
  header {
    height: 40vh;
  }
}

@media(min-width: 768px) {
  header {
    height: 50vh;
  }

  header div.wel {
    font-size: 40px;
  }

  header h1 {
    font-size: 45px;
  }

  header h2 {
    font-size: 35px;
  }
}

@media(min-width: 1200px) {
  header {
    height: 50vh;
  }

  header div.wel {
    font-size: 35px;
  }

  header h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  header h2 {
    margin-top: 40px;
    font-size: 30px;
  }
}

/* ABOUT ME */
.about {
  max-width: 320px;
  margin: 30px auto 0;
  padding: 5%;
  text-align: center;
}

.about h1 {
  font-family: 'Saira Condensed',
    sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;
  padding-top: 2px;
  border-top: 3px solid black;
}

.about p {
  font-family: 'Saira';
  font-size: 8px;
  text-transform: uppercase;
}

.about p+p {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

@media(max-width: 320px) {
  .about {
    max-width: 310px;
  }

  .about h1 {
    font-size: 25px;
  }

  .about p {
    font-size: 16px;
  }
}

@media(min-width: 360px) {
  .about {
    max-width: 330px;
  }

  .about h1 {
    font-size: 25px;
  }

  .about p {
    font-size: 18px;
  }
}

@media(min-width: 410px) {
  .about {
    max-width: 400px;
  }

  .about h1 {
    font-size: 28px;
  }

  .about p {
    font-size: 18px;
  }
}

@media(min-width:768px) {
  .about {
    max-width: 750px;
  }
}

@media(min-width:1024px) {
  .about {
    max-width: 1000px;
  }

  .about h1 {
    font-size: 50px;
  }

  .about p {
    font-size: 30px;
  }
}

@media(min-width:1200px) {
  .about {
    max-width: 1600px;
  }

  .about h1 {
    font-size: 35px;
  }

  .about p {
    font-size: 25px;
  }
}

/* Hobby */
.hobby {
  max-width: 310px;
  margin: 0 auto;
  text-transform: uppercase;
}

.hobby div {
  border: 3px solid black;
  margin-bottom: 10px;
}

.hobby h1 {
  font-size: 25px;
  text-align: center;
  font-family: 'Saira Condensed',
    sans-serif;
}

.hobby .item {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hobby .item p {
  font-family: 'saira';
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 33.5vh;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, .4);
  padding: 5px 0;
}

.hobby .item:nth-of-type(1) {
  background-image: url('https://cdn.pixabay.com/photo/2017/02/27/11/16/sports-2102975_960_720.jpg');
}

.hobby .item:nth-of-type(2) {
  background-image: url('https://images.pexels.com/photos/3770875/pexels-photo-3770875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.hobby .item:nth-of-type(3) {
  background-image: url('https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.hobby .item:nth-of-type(4) {
  background-image: url('https://images.pexels.com/photos/442576/pexels-photo-442576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

/* @media(max-width: 320px) {

  .hobby h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Saira Condensed',
      sans-serif;
  }

  .hobby .item {
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 33.5vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
  }
} */

@media(min-width: 360px) {
  .hobby {
    max-width: 340px;
  }

  .hobby div {
    margin-bottom: 12px;
  }

  .hobby .item p {
    font-size: 24px;
  }
}

@media(min-width: 410px) {
  .hobby {
    max-width: 380px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .hobby div {
    margin-bottom: 15px;
  }
}

@media(min-width:768px) {
  .hobby {
    max-width: 700px;
  }

  .hobby div {
    margin-bottom: 20px;
  }

  .hobby h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Saira Condensed',
      sans-serif;
  }

  .hobby .item {
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 28px;
    line-height: 34vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
  }
}


@media(min-width:1024px) {
  .hobby {
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .hobby div {
    margin-bottom: 40px;
    border: 6px solid black;
  }

  .hobby h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Saira Condensed',
      sans-serif;
  }

  .hobby .item {
    float: left;
    width: 40vh;
    height: 40vh;
    margin: 0 10px 40px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 38vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
  }
}

@media(min-width:1600px) {
  .hobby {
    max-width: 1660px;
    height: 50vh;
    margin: 0 60px 0 135px;
    text-transform: uppercase;
  }

  .hobby div {
    margin-bottom: 10px;
  }

  .hobby h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Saira Condensed',
      sans-serif;
    margin-bottom: 20px;
  }

  .hobby .item {
    float: left;
    width: 40vh;
    height: 40vh;
    margin: 0 10px 40px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 38vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
  }
}

/* ---Slogan--- */
.slogan {
  margin-top: 40px;
  margin-bottom: 40px;
  background-attachment: fixed;
}

.slogan h1 {
  font-family: 'Saira Condensed',
    sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 25px;

}

.slogan p {
  font-family: 'Saira',
    sans-serif;
  font-size: 18px;
}

.slogan p.autor {
  margin-top: 20px;
  font-size: 12px;
}

.slogan .bg {
  padding: 30px 10px;
  /* background-color: rgba(0, 63, 114, .5); */
  background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

@media(min-width: 360px) {
  .slogan {
    margin-top: 40px;
    margin-bottom: 40px;
    background-attachment: fixed;
  }

  .slogan h1 {
    font-family: 'Saira Condensed',
      sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;

  }

  .slogan p {
    font-family: 'Saira',
      sans-serif;
    font-size: 18px;
  }

  .slogan p.autor {
    margin-top: 20px;
    font-size: 12px;
  }

  .slogan .bg {
    padding: 30px 10px;
    background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
}

@media(min-width: 410px) {
  .slogan {
    margin-top: 40px;
    margin-bottom: 40px;
    background-attachment: fixed;
  }

  .slogan h1 {
    font-family: 'Saira Condensed',
      sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;

  }

  .slogan p {
    font-family: 'Saira',
      sans-serif;
    font-size: 18px;
  }

  .slogan p.autor {
    margin-top: 20px;
    font-size: 12px;
  }

  .slogan .bg {
    padding: 30px 10px;
    /* background-color: rgba(0, 63, 114, .5); */
    background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
}

@media(min-width:768px) {

  .slogan h1 {
    font-family: 'Saira Condensed',
      sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 10vh;

  }

  .slogan p {
    font-family: 'Saira',
      sans-serif;
    font-size: 28px;
  }

  .slogan p.autor {
    margin-top: 15px;
    font-size: 20px;
  }

  .slogan .bg {
    height: 30vh;
    padding: 30px 10px;
    background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 34px;
    line-height: 34vh;
    text-shadow: 0 0 4px black;
    padding: 5px 0;
  }
}

@media(min-width:1024px) {
  .slogan {
    margin-top: 40px;
    margin-bottom: 40px;
    background-attachment: fixed;
  }

  .slogan h1 {
    font-family: 'Saira Condensed',
      sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;

  }

  .slogan p {
    font-family: 'Saira',
      sans-serif;
    font-size: 18px;
  }

  .slogan p.autor {
    margin-top: 20px;
    font-size: 12px;
  }

  .slogan .bg {
    padding: 30px 10px;
    /* background-color: rgba(0, 63, 114, .5); */
    background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }

  .hobby .item p {
    font-family: 'saira';
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 38vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
  }
}

@media(min-width:1600px) {
  .slogan {
    margin-top: 40px;
    margin-bottom: 40px;
    background-attachment: fixed;
  }

  .slogan h1 {
    font-family: 'Saira Condensed',
      sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 35vh;

  }

  .slogan p {
    font-family: 'Saira',
      sans-serif;
    font-size: 32px;
  }

  .slogan p.autor {
    margin-top: 20px;
    font-size: 24px;
  }

  .slogan .bg {
    margin: 0 120px 0 120px;
    padding: 30px 10px;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
  }
}

/* Contact */

.contact {
  padding: 30px 20px;
}

.contact h1 {
  font-family: 'Saira Condensed';
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.contact .wrap {
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Saira', sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact input {
  height: 36px;
}

.contact textarea {
  height: 120px;
}

.contact button {
  font-size: 14px;
  line-height: 40px;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.contact .socials {
  padding-top: 30px;
  font-size: 0;
}

.contact .social {
  padding: 15px 0;
  color: black;
  font-family: 'Saira Condensed';
}

.contact .social img {
  float: left;
  width: 72px;
}

.contact .social span {
  line-height: 72px;
  padding-left: 20px;
  float: left;
  font-size: 18px;
}

.contact .social span a {
  color: black;
  text-decoration: none;
}

.contact .socials div:nth-of-type(3) img {
  border-radius: 50%;
}

@media(min-width:1600px) {
  .contact .social span {
    font-size: 30px;
  }
}

footer {
  background-color: #29a6dc;
  color: white;
  font-family: 'Saira';
  text-align: center;
  padding: 10px;
  font-size: 20px;
}